<div class="min-h-screen bg-gradient-construction">
  <div class="text-center py-8">
    <h1 class="text-4xl font-bold text-gray-700 mb-2">DIAGNÓSTICO DEL PROYECTO</h1>
    <div class="my-8">
      <p *ngIf="currentStep === 1" class="text-gray-600 mb-2">A TRAVÉS DE ESTE FORMULARIO LOGRAREMOS ASESORARTE MEJOR</p>
      <p *ngIf="currentStep === 2" class="text-gray-600 mb-2">AHORA SÍ! INICIEMOS CON EL DIAGNÓSTICO</p>
      <div class="w-3/4 mx-auto text-center">
        <p class="text-gray-700 font-bold mb-2">INFORMACIÓN GENERAL</p>
        <div class="flex items-center justify-between mb-2">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
        </div>
        <div class="w-full h-2 bg-gray-300 rounded-full overflow-hidden">
          <div class="h-full bg-lime-green" [style.width]="progressBarWidth"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center mt-20">
    <div class="relative z-10 p-10 bg-white shadow-lg rounded-3xl border border-gray-300 max-w-3xl w-full">
      <form [formGroup]="form" (ngSubmit)="onContinue()">
        <ng-container *ngIf="currentStep === 1">
          <!-- Questions for Step 1 -->

          <!-- Question 1: Name -->
          <ng-container *ngIf="currentQuestion === 1">
            <div class="mb-4">
              <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                1 → NOMBRE CLIENTE
              </label>
              <input id="name" formControlName="name" name="name" type="text" placeholder="Your name" autocomplete="name"
                     class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-red-500 text-sm mt-2">
                <div *ngIf="name?.errors?.['required']">
                  Nombre Cliente es requerido.
                </div>
                <div *ngIf="name?.errors?.['pattern']">
                  Solo permite letras A-Z.
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 2: Project Type -->
          <ng-container *ngIf="currentQuestion === 2">
            <div class="mb-4">
              <label for="projectType" class="block text-gray-700 text-sm font-bold mb-2">
                2 → TIPO DE PROYECTO
              </label>
              <div>
                <div *ngFor="let proyecto of proyectos">
                  <input type="radio" id="{{proyecto}}" formControlName="projectType" [value]="proyecto" class="mr-2 leading-tight" (change)="onProjectTypeChange()">
                  <label for="{{proyecto}}" class="text-gray-700">{{ proyecto }}</label>
                </div>
                <div *ngIf="projectType?.invalid && (projectType?.dirty || projectType?.touched)" class="text-red-500 text-sm mt-2">
                  <div *ngIf="projectType?.errors?.['required']">
                    Debes seleccionar un tipo de proyecto.
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 3: Area -->
          <ng-container *ngIf="currentQuestion === 3">
            <div class="mb-4">
              <label for="area" class="block text-gray-700 text-sm font-bold mb-2">
                3 → ÁREA
              </label>
              <input id="area" formControlName="area" name="area" type="text" placeholder="Your area" autocomplete="area"
                     class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <div *ngIf="area?.invalid && (area?.dirty || area?.touched)" class="text-red-500 text-sm mt-2">
                <div *ngIf="area?.errors?.['required']">
                  Debes ingresar área.
                </div>
                <div *ngIf="area?.errors?.['pattern']">
                  Solo permite letras y números.
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 4: Floor -->
          <ng-container *ngIf="currentQuestion === 4">
            <div class="mb-4">
              <label for="floor" class="block text-gray-700 text-sm font-bold mb-2">
                4 → PISOS
              </label>
              <div>
                <div *ngFor="let piso of filteredPisos">
                  <input type="radio" id="{{piso}}" formControlName="floor" [value]="piso" class="mr-2 leading-tight">
                  <label for="{{piso}}" class="text-gray-700">{{ piso }}</label>
                </div>
                <div *ngIf="floor?.invalid && (floor?.dirty || floor?.touched)" class="text-red-500 text-sm mt-2">
                  <div *ngIf="floor?.errors?.['required']">
                    Debes seleccionar Piso.
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 5: Country -->
          <ng-container *ngIf="currentQuestion === 5">
            <div class="mb-4">
              <label for="country" class="block text-gray-700 text-sm font-bold mb-2">
                5 → PAÍS
              </label>
              <div class="relative">
                <select id="country" formControlName="country" name="country" autocomplete="off" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option value="">Seleccione un país</option>
                  <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M7 10l5 5 5-5H7z" />
                  </svg>
                </div>
                <div *ngIf="country?.invalid && (country?.dirty || country?.touched)" class="text-red-500 text-sm mt-2">
                  <div *ngIf="country?.errors?.['required']">
                    Debes seleccionar un País.
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="currentStep === 2">
          <h2 class="text-2xl font-bold text-gray-700 mb-4">CUADRO DE NECESIDADES</h2>
          <p class="text-gray-600 mb-4">AHORA SÍ! INICIEMOS CON EL DIAGNÓSTICO</p>
          <!-- Question 1: Primer Nivel -->
          <ng-container *ngIf="currentQuestion === 1">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                1 → PRIMER NIVEL (PUEDE ELEGIR UNA O MÁS OPCIONES)
              </label>
              <div [formArrayName]="'primerNivel'">
                <div *ngFor="let nivel of primerNivel; let i = index">
                  <input type="checkbox" [formControlName]="i" class="mr-2 leading-tight">
                  <label for="{{nivel}}" class="text-gray-700">{{ nivel }}</label>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 2: Segundo Nivel -->
          <ng-container *ngIf="currentQuestion === 2">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                2 → SEGUNDO NIVEL (PUEDE ELEGIR UNA O MÁS OPCIONES)
              </label>
              <div [formArrayName]="'segundoNivel'">
                <div *ngFor="let nivel of segundoNivel; let i = index">
                  <input type="checkbox" [formControlName]="i" class="mr-2 leading-tight">
                  <label for="{{nivel}}" class="text-gray-700">{{ nivel }}</label>
                </div>
                <input type="text" formControlName="otros" placeholder="Otros" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-2">
              </div>
            </div>
          </ng-container>

          <!-- Question 3: Segundo Nivel + Terraza -->
          <ng-container *ngIf="currentQuestion === 3">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                3 → SEGUNDO NIVEL + TERRAZA (PUEDE ELEGIR UNA O MÁS OPCIONES)
              </label>
              <div [formArrayName]="'segundoNivelMasTerraza'">
                <div *ngFor="let nivel of segundoNivelMasTerraza; let i = index">
                  <input type="checkbox" [formControlName]="i" class="mr-2 leading-tight">
                  <label for="{{nivel}}" class="text-gray-700">{{ nivel }}</label>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Question 4: Estilo de Fachada -->
          <ng-container *ngIf="currentQuestion === 4">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                4 → ESTILO DE FACHADA
              </label>
              <div>
                <div *ngFor="let estilo of estilosFachada">
                  <input type="radio" id="{{estilo}}" formControlName="estiloFachada" [value]="estilo" class="mr-2 leading-tight">
                  <label for="{{estilo}}" class="text-gray-700">{{ estilo }}</label>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!-- Buttons -->
        <div class="flex items-center justify-between">
          <button *ngIf="currentQuestion > 1 || (currentStep === 2 && currentQuestion === 1)" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4" type="button" (click)="onBack()">
            REGRESAR
          </button>
          <button class="bg-lime-green hover:bg-lime-green-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4" type="submit">
            CONTINUAR
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showMessage" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded shadow-lg text-center">
      <p class="text-lg font-bold text-gray-700">{{ message }}</p>
    </div>
  </div>
</div>
