<div class="min-h-screen bg-gradient-construction flex items-center justify-center">
  <div class="relative z-10 p-6 bg-white shadow-lg rounded-3xl border border-gray-300 max-w-xs w-full text-center" style="margin-top: -100px;">
    <h1 class="text-xl font-bold text-gray-700 mb-4 uppercase">¡Gracias!</h1>
    <div class="text-gray-600 text-sm">
      <p class="mb-4">
        Gracias por compartirnos tu información y necesidades para tu proyecto.
      </p>
      <p class="mb-4">
        Nuestros asesores se pondrán en contacto contigo a la brevedad posible.
      </p>
      <p class="mb-4">
        -- Ahora si descarga el E-BOOK --
      </p>
    </div>
    <div class="flex justify-center mt-2">
      <svg class="w-6 h-6 text-gray-700 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="flex justify-center mt-4">
      <button class="bg-[#95C11F] text-white py-2 px-4 rounded-full">Descargar E-BOOK</button>
    </div>
  </div>
</div>
